body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
  background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63 12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%, #73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d 68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%, #00d6f6 100%);
  color: #000000;
  max-width: 1400px;
  min-width: 300px;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
