.Pie {
  padding: 20px 0;
  text-align: center;
  color: #000000; 
  position: relative;
  bottom: 0;
  width: 100%;
}

.ContenedorDePie {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.textoDePie {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}
