.contenedorPricipalProducto {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

.tituloDeProductoPricipal {
    cursor: pointer;
    background-color: #28a745;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2.5rem;
}

.tituloDeProductoPricipal:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Estilos para los grupos de menú */
.GrupoDeProducto {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #e2f8e0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 20px;
}

.GrupoDeProducto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.Producto {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.subProducto {
    width: 350px;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.imgDeProducto {
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.ProductoDeIngeriente {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #010a14;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

.textoDeProductotext {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #010a14;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
}

.botonDeProducto {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin: 1rem auto 0;
    width: 80%;
}

.botonDeProducto:hover {
    background-color: #218838;
    transform: scale(1.05);
    cursor: pointer;
}

.cantidadProducto {
    width: calc(20% - 12px);
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.SubTituloDeProducto {
    color: #0c011d;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
    background-color: #34c759;
}
